*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:linear-gradient(135deg,#6a11cb,#2575fc);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.card{
  background:#fff;
  width:100%;
  max-width:420px;
  padding:30px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,.3);
}

h1{
  color:#2575fc;
  margin-bottom:15px;
}

h2,h3{
  margin:15px 0;
}

p{
  margin:20px 0;
  font-size:18px;
}

button{
  width:100%;
  padding:15px;
  margin:8px 0;
  border:none;
  border-radius:10px;
  background:#2575fc;
  color:white;
  font-size:17px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#174ea6;
}
